---
import MainLayout from "../layout/MainLayout.astro";
import { getEnv } from "../env/get-env";
import { getDataSource } from "../db/data-source";
import "../styles/page/landing.scss";

const env = getEnv();
const AppDataSource = await getDataSource({
  database: env.DB_NAME,
  user: env.DB_USER,
  password: env.DB_PASS,
});
---

<MainLayout title="SerioHome">
  <h1>SerioHome</h1>
  <a href="/goals">Goals</a>
</MainLayout>
